<% if @user.invitations.any? %>
  <p>You are invited to</p>
  <ul class="list-group">
    <% @user.invitations.each do |invitation|%>
      <li class="list-group-item">
        <%= link_to invitation.event.title, event_path(invitation.event)%>
        <%= link_to "Accept", attendances_path(attendance:{event_id: invitation.event.id, attendee_id: @user.id}),
        method: :post,
        class:"btn btn-success btn-sm" 
        %>
      </li>
    <% end %>
  </ul>
<% end %>